.container {
	margin: 1rem auto;
	width: 500px;
}

#curr-temp {
	font-size: 4rem;
}
#curr-temp .wi {
	font-size: 4rem;
}
#curr-icon .wi {
	font-size: 5rem;
}

/* Week Forecast  */
.wrapper {
	display: grid;
	grid-template-columns: 1fr;
}

#week .row-forecast {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	border-bottom: 1px solid #ddd;
	padding: 1.5rem;
}

#week .dayoftheweek,
#week .description {
	padding-left: 3rem;
}

#week .dayoftheweek {
	font-weight: bold;
}

#week .description {
	font-style: italic;
}

#week .icon {
	grid-column: 2;
	grid-row: 1 / 3;
	padding-top: .5rem;
	text-align: center;
}

#week .temp-high {
	font-weight: bold;
	text-align: center;
}

#week .temp-low {
	text-align: center;
}

#week .wi {
	font-size: 2rem;
}

/* Button  */
#convert-unit {
	margin-bottom: 2rem;
}
