.container {
	margin: 1rem;
	border: 1px solid green;
}

#location {
	font-size: 1.5rem;
}

#curr-temp {
	font-size: 4rem;
}
#curr-temp .wi {
	font-size: 4rem;
}
#curr-icon .wi {
	font-size: 5rem;
}

#index {
	margin: 1rem auto;
	border-bottom: 1px solid #aaa;
}

#week .temp-high {
	padding-right: 5px;
	font-weight: bold;
}

#week span {
	padding-right: 10px;
}
#week .wi {
	font-size: 2rem;
}

#convert-unit {
	margin-bottom: 2rem;
}
