* {
	box-sizing: border-box;
}

.container {
	margin: 1rem auto;
	width: 500px;
	text-align: center;
}

/* Today's Forecast  */
.wrapper-current {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 1.5rem;
	background-color: #6CC3D5;
	color: white;
	border-radius: 5px;
}

#curr-date {
	grid-column: 1 / 3;
	font-size: 1.2rem;
}

#curr-temp {
	grid-row: 2 / 4;
	font-size: 4rem;
	vertical-align: middle;
	padding-top: .8rem;
}

#curr-temp .wi {
	font-size: 4rem;
}

#curr-icon .wi {
	font-size: 3rem;
	padding-top: 1rem;
}

#curr-desc {
	grid-column-start: 2;
	font-size: 1.2rem;
}

/* Week Forecast  */
.wrapper-week {
	display: grid;
	grid-template-columns: 1fr;
}

#week .row-forecast {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	border-bottom: 1px solid #ddd;
	padding: 1.5rem;
}

/* #week .dayoftheweek,
#week .description {
	padding-left: 1rem;
} */

#week .dayoftheweek {
	font-weight: bold;
}

#week .description {
	font-style: italic;
}

#week .icon {
	grid-column: 2;
	grid-row: 1 / 3;
	padding-top: .5rem;
	color: #6CC3D5;
}

#week .temp-high {
	font-weight: bold;
}

#week .wi {
	font-size: 2rem;
}

/* Button  */
#convert-unit {
	margin: 1rem auto;
}

/* Attribution */
#attribution {
	margin-top: 1.2rem;
}
